header {
    font-family: "Montserrat", Sans-serif;
    border-bottom: #f18800 2px solid;
    max-width: 1920px;
    margin: 0 auto;
}

header .First {
    height: 80px;
    display: flex;
    color: white;
    align-items: center;
}

header .First a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
}

header .First a:hover {
    color: #f18800 !important;
    border-bottom: #f18800 2px solid;
}

header .Second {
    display: flex;
    align-items: center;
}

header .logo {
    height: 80px;
    padding-right: 20px;
}

header  .button, .nav .button {
    background-color: #f18800;
    padding: 5px 0px;
    color: white;
    font-weight: 100;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    width: 150px;
    float: right;
}
header .phone{
    height: 40px;
    margin-top: 10px;
}

header .order{
    display: flex;
}

.header_bottom {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.header_top{
    background: rgba(143, 134, 134, 0.2) !important;
}
.header_top > div{
    max-width: 1720px;
    margin: 0 auto; 
    padding: 5px;
    color: white;
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.header_top img{
    height: 20px;
    width: 20px;
    margin-top: 8px;
    margin-right: 7px;
}
.heder_top p{
    margin-top: 3px;
}
.heder_top > div > div{
    display: flex;
}
.order .phone{
    margin-right: 10px;
}
.number{
    color: aliceblue;
}
@media screen and (max-width: 1200px){
    .header_bottom{
        max-width: 100%;
    }
    header .Second img{
        height: 50px;
    }

}
@media screen and (max-width: 950px){
    header .number{
        display: none;
    }
}
@media screen and (max-width: 800px){
    header .Second img{
        display: none;
    }

}
@media screen and (max-width: 600px){
    .header_bottom{
        display: none;
    }
    header{
        border-bottom: 0px;
    }
    .nav-toggle{
        background: none !important;
    }

}
