.questions .answer{
    color: white;
}
.questions .question{
    font-size: 20px;
    color: #102131;
    background: #edf2fc;
    padding: 24px 50px 25px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.questions{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.questions > div{
    flex: 0 1 45%;
    margin-left: 50px;
    margin-bottom: 30px;
}
.questions_text{
    font-size: 36px;
    color: whitesmoke;
    font-weight: 600;
    line-height: 1.35;
    text-align: center;
    margin-bottom: 30px;
}
@media screen and (max-width: 1920px){
    .questions{
        max-width: 80%;
    }

}
@media screen and (max-width: 1000px){
    .questions > div{
        flex: 0 1 70%;
        margin-left: 0;
    }

}
@media screen and (max-width: 550px){
    .questions > div{
        flex: 0 1 90%;
    }

}